* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #00796b;
  user-select: none;
}

.titlebar {
  height: 32px;
  width: 100%;
  -webkit-app-region: drag;
  display: flex;
  background-color: #1a1a1a;
}

.titlebar .title {
  flex: 1 1 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.titlebar .controls,
.titlebar .feature-controls {
  display: flex;
  height: 32px;
}

.titlebar .feature-controls {
  margin-right: auto;
}

.titlebar .feature-controls button {
  width: 32px;
  background-color: transparent;
  transition: background-color 0.2s;
}

.titlebar .feature-controls button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titlebar button {
  width: 46px;
  height: 32px;
  border: none;
  outline: none;
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s;
}

.titlebar button.minimize {
  background-color: #e6b412;
}

.titlebar button.maximize {
  background-color: #34c149;
}

.titlebar button.close {
  background-color: #f44336;
}

.titlebar button:hover {
  filter: brightness(1.2);
}

.titlebar button img {
  width: 12px;
  height: 12px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.titlebar button:hover img {
  opacity: 1;
}